<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI + Vue App</title>

    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">

    {% if not settings.USE_BUNDLE_PROXY %}
        <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
    {% endif %}

</head>
<body>
    {% block body_section %}{% endblock %}

    {% if settings.USE_BUNDLE_PROXY %}
        <script src="{{ url_for('static', path='js/chunk-vendors.js') }}"></script>
        <script src="{{ url_for('static', path='js/app.js') }}"></script>
    {% else %}
        <script type="module" src="{{ url_for('static', path='js/chunk-vendors.js') }}"></script>
        <script type="module" src="{{ url_for('static', path='js/app.js') }}"></script>
    {% endif %}

</body>
</html>
